/* Universal Elements and Colors*/
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

:root {
    --color_darkGrey: #31343D;
    --color_aquamarine: #92CBCE;
    --color_slategrey: #445876;
    --color_background: #eeeef7;
}

body {
    background-color: whitesmoke;
    
}

/* Header Elements */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color_darkGrey);
    color: white;
    padding: 0;
    margin: 0 0 0 -20px;
}

.header h1 {
    font-size: 40px;
    padding: 4px 8px 4px 50px;
    margin: 16px;
    background-color: var(--color_aquamarine);
    color:var(--color_darkGrey);
}

.header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 30em;
}

.header li {
    display: flex;
    margin: 0px;
    color: var(--color_aquamarine);
    min-width: 2vh;
    padding: 2em 1em 2em 1em;
}

.header li:hover{
    background-color: var(--color_aquamarine);
    color: var(--color_darkGrey);
}

.header li:hover a {
    border-bottom: var(--color_darkGrey) solid 3px;
}

.header a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    text-align: center;
    font-size: 130%;
    font-weight: 600;
    position: relative;

    padding: 1.5vh 0.5vh 1.5vh 0.5vh;
    padding-bottom: 1vh;
    flex-shrink: 0;
    border-bottom: var(--color_aquamarine) solid 3px;
}

.header a:hover {
    color:var(--color_darkGrey);
}

/** Area between header and main **/

#headerBody_separator {
    display: flex;
    justify-content: flex-end;
    align-content: end;
    background-image: url("../images/fence1.jpg");
    background-size: 110%;
    background-repeat: no-repeat;
    height: 350px;
    margin-bottom: 20px;
}

#headerBody_separator h1{
    margin: 240px 20px 40px 0;
    padding: 20px;
    font-size: 170%;
    background-color: var(--color_aquamarine);
}



/** Main Elements 
    Specificty is Main>Article>section/aside
**/

/* Container for aside and articles */
.main-article {
    display: flex;
    height: auto;
    width: 90%;
    line-height: 150%;

    /* border: solid purple 4px; */
    padding: 20px;
}

/* Aside: flex item */
.main-article aside {
    border-right: solid var(--color_darkGrey) 4px;
    text-align: right;
    padding-right: 10px;
    min-width: 50px;
    flex: 0 0 16%;
}

aside h1 {
    font-size: 200%;
    color: var(--color_darkGrey);
}

.main-article p {
    padding-left: 20px;
    width: 100%;
}

/* Nested container for work items*/
.work-container {
    display: flex;
    flex-flow: row wrap;
    padding-left: 20px;
}

/* Items in work-container */
.work-container section {
    border: solid var(--color_aquamarine) 6px;
    background-size: cover;
    background-repeat:no-repeat;
}

#Solar-work {
    background-image: url('../images/system.jpg');
    flex-grow: 1;
    min-width: 90%;
    height: 280px;
    margin: 5px;
}

#Unity-work {
    background-image: url('../images/galaga.png');
    flex-grow: 1;
    min-width: 200px;
    height: 280px;
    margin: 5px;
} 

#MERN-work {
    background-image: url(../images/mern.jpg);
    flex-grow: 1;
    min-width: 550px;
    height: 280px;
    margin: 5px;
}





/* Flex container for titles on top of content*/
.work-container span {
    margin-left: -2px;
    width: 200px;
    display: inline-block;
    margin-top: 200px;
}

.work-container section h2 {
    background-color: var(--color_aquamarine);
    color:rgb(11, 22, 53);
    font-size: 130%;
    font-weight: 700;
    padding-top: 10px;
    padding-left: 15px;
}

.work-container section p {
    background-color: var(--color_aquamarine);
    color:rgb(11, 22, 53);
    padding:4px;
    font-size: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
}

/*Contact Section */
.contact-content {
    width:100%;
}

.contact-content ul {
    display:flex;
    justify-content: space-evenly;
    flex: 1 0 100%;
}

.contact-content li {
    padding: 20px;
    border-bottom: var(--color_aquamarine) 3px solid;
    padding-bottom: 4px;
    padding: 0 1px 4px 1px;
}

.contact-content a {
    text-decoration: none;
    font-size: 110%;
    font-weight: bolder;
    color: var(--color_darkGrey);
}